<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheResultFile="var/cache/phpunit/test-results"
         executionOrder="depends,defects"
         forceCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         failOnRisky="true"
         failOnWarning="true"
         verbose="true">
    <php>
        <env name="KERNEL_CLASS" value="Todo\Kernel"/>
        <env name="SYMFONY_ENV" value="test"/>
        <env name="DIRECTORY_THAT_CONTAINS_THE_TODO_LIST" value=".data/test"/>
    </php>

    <testsuites>
        <testsuite name="default">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>

    <coverage cacheDirectory="var/cache/phpunit/code-coverage"
              processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <file>src/Kernel.php</file>
        </exclude>
    </coverage>
</phpunit>
